In [3]:
import pandas as pd

file_paths = {
    "action": 'data/ActionsDeFormationV220210630_0904.csv',
    "people": 'data/Fichiers données Individus GA.csv',
    "formation_history": 'data/FormationsRealisees20210630_0924.csv',
    "session_inscription": 'data/InscriptionsAuxSessionsDeFormation20210726_1156.csv',
#     "people_properties": 'data/ProprietesCleDesIndividusParId20210630_0946 2.csv',
    "people_properties": 'data/ProprietesCleDesIndividusParId20210630_0946.csv',
    "properties": 'data/ProprietesCleParId20210630_0947_Référentiels GA.csv',
    "catalog": 'data/ReferentielCatalogueDeFormation20210630_0840.csv',
}

In [4]:
class AttributeDict(dict):
    def __getattr__(self, attr):
        return self[attr]
    def __setattr__(self, attr, value):
        self[attr] = value

dfs = AttributeDict()
for key, path in file_paths.items():
    print(f"Loading file {path}")
    df = pd.read_csv(path, delimiter=";", encoding="utf-8")
    print(f".. {len(df)} lines loaded")
    dfs[key] = df

Loading file data/ActionsDeFormationV220210630_0904.csv
.. 12448 lines loaded
Loading file data/Fichiers données Individus GA.csv

DtypeWarning: Columns (21,25,29,31,34) have mixed types.Specify dtype option on import or set low_memory=False.

.. 208121 lines loaded
Loading file data/FormationsRealisees20210630_0924.csv

DtypeWarning: Columns (1,8,9,10,11) have mixed types.Specify dtype option on import or set low_memory=False.

.. 1048575 lines loaded
Loading file data/InscriptionsAuxSessionsDeFormation20210726_1156.csv

DtypeWarning: Columns (5,6,11,23,24,28,31,32,36,49) have mixed types.Specify dtype option on import or set low_memory=False.

.. 1641931 lines loaded
Loading file data/ProprietesCleDesIndividusParId20210630_0946.csv

DtypeWarning: Columns (5,6) have mixed types.Specify dtype option on import or set low_memory=False.

.. 4626080 lines loaded
Loading file data/ProprietesCleParId20210630_0947_Référentiels GA.csv
.. 61461 lines loaded
Loading file data/ReferentielCatalogueDeFormation20210630_0840.csv
.. 710 lines loaded

In [27]:
from tools.column_stats import compute_col_stats

for name, df in dfs.items():
    stats = compute_col_stats(df, as_list=True)
    path = f"results/{name}_stats.csv"
    print(f"> saving stats at {path}")
    olutils.save(stats, path, encoding="utf-8")

In [28]:
for key, df in dfs.items():
    print(f"\n" + "#" * 30)
    print(f"# {key}")
    display(df.head(2))

##############################
# action

,clientcode,name,duration,durationperday,active,themecode,objective,prerequisites,program,organism,...,extra_proprietaire_pedagogique,extra_contact_pedagogique_email,extra_contact_logistique_mail,extra_contact_metier_email,extra_mode_hebergement,extra_dureetheorique,extra_eval,extra_concepteur,extra_visibilité opco,extra_stage sur invitation
0,30001112,"GR - VIDEO - PAS D'ACTIVITÉ PÉRENNE, SANS CRÉA...","0,05",NaN,True,50927305_TLS,NaN,NaN,-,TOTAL,...,NaN,NaN,NaN,NaN,NaN,NaN,ASSESSMENT_IN_LIZZY_ONLINE,NaN,NON,NON
1,30001114,"GR - VIDEO - LE DÉVELOPPEMENT DURABLE, UNE VOI...","0,05",NaN,True,50927305_TLS,NaN,NaN,-,TOTAL,...,NaN,NaN,NaN,NaN,NaN,NaN,ASSESSMENT_IN_LIZZY_ONLINE,NaN,NON,NON

##############################
# people

,username,lastname,firstname,otherlastname,otherfirstname,birthname,birthdate,deathdate,email,phone_personal,...,birthplacepostalcode,nationality,canlogin,extra_url,extra_nationality,extra_local_username,extra_langue_maternelle,extra_job,extra_canlogin,extra_nationality1
0,J0491150,DPONT,Timur,DPONT,Timur,NaN,01/01/1900,NaN,TIMUR.NUNEZ-YANOWSKY@TOTALENERGIES.COM,NaN,...,NaN,NaN,True,NaN,NaN,NaN,NaN,HEAD OF TSDG IBERICA,True,DE
1,J0284691,DURANT,Ralf,DURANT,Ralf,NaN,02/01/1900,NaN,RALF.BORG@TOTALENERGIES.COM,NaN,...,NaN,NaN,True,NaN,NaN,NaN,NaN,Area Manager Card Services (lev 3),NaN,DE

##############################
# formation_history

,username,employeenumber,realdate,description,hoursduration,formationtype,organism,editionauthorisationlevel,comment,address,level,typology,action
0,J0021749,21749,01/12/2020 00:00,ANGLAIS-TESTS BRIGHT DECEMBRE 2020,01:00,FormationEntreprise,BRIGHT,0,English,NaN,Implemented - Completed,LANGUAGES,NaN
1,L0298657,NaN,10/10/2019 00:00,GEN - STOCKAGES ET EXPÉDITIONS,04:00,FormationEntreprise,NaN,0,Espagnol,NaN,Implemented - Completed,OPERATIONS,NaN

##############################
# session_inscription

,clientcode,traineeusername,state,creatorusername,type,comment,date,funding,category,training_program,...,fulltime_pro-a,personaltime_pro-a,fulltime_cpftransition,personaltime_cpftransition,realized_fulltime_pro-a,realized_offtime_pro-a,realized_fulltime_cpftransition,realized_offtime_cpftransition,mandatory,extra_rfs
0,00013246-2012-00001,J0001109,COMPLETED,J0001109,E-LEARNING,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
1,00013468-2012-00001,J0001846,COMPLETED,J0001846,E-LEARNING,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN

##############################
# people_properties

,username,referentielcode,nodecode,startdate,enddate,comment,default,action
0,L0543420,DEPLOYMENT_COMPANY,A007,19/08/2019 08:00:00,06/01/2021 01:23:45,NaN,True,NaN
1,L0543420,LOCATION,00000291,19/08/2019 08:00:00,06/01/2021 01:23:45,NaN,True,NaN

##############################
# properties

,referentielcode,nodecode,parentnodecode,nodename,nodedescription,active
0,BRANCH,NaN,NaN,Branche,NaN,True
1,BRANCH,00000011,NaN,GRP,Gas Renewables and Power,True

##############################
# catalog

,referentielcode,nodecode,parentnodecode,nodename,nodedescription,active
0,REF7_OLD,NaN,NaN,Thèmes et sous-themes,Thèmes et sous-themes du catalogue de formation,False
1,REF7_OLD,Achats,NaN,Achats,NaN,False

In [115]:
df = dfs.catalog
for cname in df.columns:
    col = df[cname]
    print(cname, len(col), len(col.unique()))

referentielcode 710 2
nodecode 710 709
parentnodecode 710 220
nodename 710 375
nodedescription 710 3
active 710 2

# Join Utils

In [72]:
def is_int(value):
    try:
        int(value)
    except ValueError:
        return False
    return True

def get_code(clientcode):
    try:
        return int(clientcode.split("-")[0])
    except ValueError:
        return -1

def compare(a, b):
    a = set(a)
    b = set(b)
    print(len(a), len(b))
    print(len(a - b))
    print(len(b - a))

In [121]:
# catalog - action
compare(dfs.catalog.nodecode, dfs.action.themecode)

709 313
396
0

In [71]:
# action - session_inscription
compare(
    dfs.action[dfs.action.clientcode.apply(is_int)].clientcode.apply(int),
    dfs.session_inscription.clientcode.apply(get_code),
)

12441 8657
3828
44

In [ ]:
# session_inscription - formation_history

In [129]:
# people - session_inscription
compare(dfs.people.username, dfs.session_inscription.traineeusername)

208119 108935
99747
563

In [106]:
# people - formation_history
compare(dfs.people.username, dfs.formation_history.username)

208119 77492
130627
0

In [69]:
# people - people_properties
compare(dfs.people.username, dfs.people_properties.username)

208119 35818
172301
0

In [92]:
# properties - people_properties
df = dfs.properties
dfs.properties['id'] = df['referentielcode'].str.cat(df['nodecode'],sep="-")
df = dfs.people_properties
df['prop_id'] = df['referentielcode'].str.cat(df['nodecode'],sep="-")
compare(dfs.properties.id, dfs.people_properties.prop_id)

61429 10687
50742
0

# Matrice

In [ ]:
# session_inscription > action

session_inscription = pd.join(session_ins)

In [126]:
def action_code_to_int(value):
    try:
        return int(value)
    except ValueError:
        return -1


dfs.action.code = dfs.action.clientcode.apply(action_code_to_int)

In [127]:
actions = dfs.action

0           30001112
1           30001114
2           30001123
3           30000984
4           30000986
            ...
12443        8097005
12444        4353004
12445    61234299001
12446             -1
12447             -1
Name: clientcode, Length: 12448, dtype: int64

In [135]:
session_inscriptions = dfs.session_inscription[["traineeusername", "clientcode", "date", "type"]]

In [144]:
def clientcode_to_actioncode(value):
    return action_code_to_int(value.split("-")[0])

session_inscriptions = dfs.session_inscription[["traineeusername", "clientcode", "date", "type"]]
session_inscriptions["actioncode"] = session_inscriptions.clientcode.apply(clientcode_to_actioncode)
session_inscriptions.drop(columns=["clientcode"], inplace=True)
session_inscriptions

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        traineeusername date               type   actioncode
0              J0001109  NaN         E-LEARNING        13246
1              J0001846  NaN         E-LEARNING        13468
2              J0001896  NaN         E-LEARNING        13246
3              J0005155  NaN         E-LEARNING        13468
4              J0005155  NaN         E-LEARNING        13246
...                 ...  ...                ...          ...
1641926        J1013066  NaN  VIRTUAL_CLASSROOM     50776267
1641927        J0386112  NaN  VIRTUAL_CLASSROOM  50901577001
1641928        J1013066  NaN            BLENDED        10724
1641929        J0284912  NaN  VIRTUAL_CLASSROOM     61234500
1641930        J0386112  NaN            BLENDED     50493921

[1641931 rows x 4 columns]

In [146]:
session_inscriptions.to_csv("results/session_inscriptions.csv", sep=",", encoding="utf-8")

In [153]:
actions = dfs.action[["clientcode", "themecode"]]
actions['actioncode'] = actions.clientcode.apply(action_code_to_int)
actions.drop(columns="clientcode", inplace=True)
actions

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

             themecode   actioncode
0         50927305_TLS     30001112
1         50927305_TLS     30001114
2         50927305_TLS     30001123
3         50927430_TLS     30000984
4         50927288_TLS     30000986
...                ...          ...
12443  50927317_NOTTLS      8097005
12444  50927317_NOTTLS      4353004
12445     50927335_TLS  61234299001
12446     50927335_TLS           -1
12447  50927345_NOTTLS           -1

[12448 rows x 2 columns]

In [158]:
theme_inscriptions = session_inscriptions.merge(actions, on="actioncode", how="inner")

In [159]:
theme_inscriptions.to_csv("results/session_inscriptions.csv", sep=",", encoding="utf-8")

In [165]:
theme_inscriptions

        traineeusername date               type   actioncode        themecode
0              J0001109  NaN         E-LEARNING        13246     50927305_TLS
1              J0001896  NaN         E-LEARNING        13246     50927305_TLS
2              J0005155  NaN         E-LEARNING        13246     50927305_TLS
3              J0005318  NaN         E-LEARNING        13246     50927305_TLS
4              J0006062  NaN         E-LEARNING        13246     50927305_TLS
...                 ...  ...                ...          ...              ...
1642195        J0545206  NaN  VIRTUAL_CLASSROOM     61234593     50927273_TLS
1642196        J0545206  NaN  VIRTUAL_CLASSROOM     61234592     50927273_TLS
1642197        J1044137  NaN  VIRTUAL_CLASSROOM  51091325001     50927388_TLS
1642198        J0026702  NaN         E-LEARNING  61234973001  50927319_NOTTLS
1642199        J0294274  NaN         E-LEARNING     61235109     50927302_TLS

[1642200 rows x 5 columns]

In [186]:
rp = theme_inscriptions.pivot_table(columns=["traineeusername"], index=["themecode"], values="actioncode")
rp

traineeusername,1968lpappachan@gmail.com,1988antoniomachado@gmail.com,232lhm@gmail.com,4fages.marie@gmail.com,A0H26192@hutchinson.onmicrosoft.com,AARRIETA@YPERGAS.COM,AAdefala@slb.com,AArsenio@slb.com,AAziz8@slb.com,ABRAHAMSUBSEA@HOTMAIL.COM,...,zoe.carceles@yahoo.fr,zoghy01@hotmail.com,zohra.lamti@hutchinson.com,zolaedouard625@gmail.com,zolghadrimahmoud@yahoo.com,zoulaihatoua@gmail.com,zulavio.bunga@external.totalenergies.com,zuzanna.kaminska@hutchinson.com,zuzanna.kraszkiewicz@hutchinson.com,zxinyu@adnoc.ae
themecode,,,,,,,,,,,,,,,,,,,,,
50927270_NOTTLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50927270_TLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50927271_NOTTLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50927271_TLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50927272_NOTTLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50927432_TLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50927433_TLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50927434_NOTTLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50927435_NOTTLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50927435_TLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
flat_rp = pd.DataFrame(rp.to_records())

In [283]:
rpz = flat_rp.copy()
rpz.set_index("themecode", inplace=True)
rpz = (rpz.notnull()).astype('int')
rpz

,1968lpappachan@gmail.com,1988antoniomachado@gmail.com,232lhm@gmail.com,4fages.marie@gmail.com,A0H26192@hutchinson.onmicrosoft.com,AARRIETA@YPERGAS.COM,AAdefala@slb.com,AArsenio@slb.com,AAziz8@slb.com,ABRAHAMSUBSEA@HOTMAIL.COM,...,zoe.carceles@yahoo.fr,zoghy01@hotmail.com,zohra.lamti@hutchinson.com,zolaedouard625@gmail.com,zolghadrimahmoud@yahoo.com,zoulaihatoua@gmail.com,zulavio.bunga@external.totalenergies.com,zuzanna.kaminska@hutchinson.com,zuzanna.kraszkiewicz@hutchinson.com,zxinyu@adnoc.ae
themecode,,,,,,,,,,,,,,,,,,,,,
50927270_NOTTLS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50927270_TLS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50927271_NOTTLS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50927271_TLS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50927272_NOTTLS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50927432_TLS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50927433_TLS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50927434_NOTTLS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50927435_NOTTLS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50927435_TLS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [210]:
rpz.sum(axis=1).sort_values(ascending=False)

themecode
50927305_TLS       78156
50927395_TLS       73429
50927340_TLS       65411
50927307_TLS       61601
50927306_TLS       60202
                   ...
50927337_NOTTLS        2
50927388_NOTTLS        1
50927435_NOTTLS        1
50927401_NOTTLS        1
50927332_NOTTLS        1
Length: 304, dtype: int64

In [211]:
rpz.sum().sort_values(ascending=False)

J0266195           92
J0500306           65
L0529997           65
J1007568           61
J1005146           61
                   ..
J1038062            1
J1038064            1
J1038066            1
J1038116            1
zxinyu@adnoc.ae     1
Length: 108932, dtype: int64

In [285]:
similarity = rpz.corrwith(rpz["J1005146"])
similarity

1968lpappachan@gmail.com                    0.162424
1988antoniomachado@gmail.com                0.114661
232lhm@gmail.com                            0.162424
4fages.marie@gmail.com                      0.114661
A0H26192@hutchinson.onmicrosoft.com         0.158386
                                              ...
zoulaihatoua@gmail.com                      0.114661
zulavio.bunga@external.totalenergies.com    0.114661
zuzanna.kaminska@hutchinson.com             0.193522
zuzanna.kraszkiewicz@hutchinson.com         0.230466
zxinyu@adnoc.ae                            -0.028783
Length: 108932, dtype: float64

In [241]:
rating_d

,traineeusername,date,type,actioncode,themecode,similarity,sim_rating
156799,J0001119,NaN,E-LEARNING,15780,50927321_TLS,0.203240,0.203240
156800,J0001147,NaN,E-LEARNING,15780,50927321_TLS,0.222311,0.222311
156801,J0001846,NaN,E-LEARNING,15780,50927321_TLS,0.316968,0.316968
156802,J0001919,NaN,E-LEARNING,15780,50927321_TLS,0.291913,0.291913
156803,J0005928,NaN,E-LEARNING,15780,50927321_TLS,0.164037,0.164037
...,...,...,...,...,...,...,...
1642193,J0545206,NaN,VIRTUAL_CLASSROOM,61234939,50927273_TLS,0.122878,0.122878
1642194,J0541598,NaN,IN_CLASS,50643598,50927376_NOTTLS,0.275998,0.275998
1642195,J0545206,NaN,VIRTUAL_CLASSROOM,61234593,50927273_TLS,0.122878,0.122878
1642196,J0545206,NaN,VIRTUAL_CLASSROOM,61234592,50927273_TLS,0.122878,0.122878
1642199,J0294274,NaN,E-LEARNING,61235109,50927302_TLS,0.346058,0.346058

In [286]:
rating_toby = rpz["J1005146"].copy()
rating_toby.replace(0, pd.np.nan, inplace=True)
sim_toby = similarity
rating = theme_inscriptions

FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

In [288]:
rating_toby

themecode
50927270_NOTTLS    NaN
50927270_TLS       1.0
50927271_NOTTLS    NaN
50927271_TLS       1.0
50927272_NOTTLS    NaN
                  ...
50927432_TLS       1.0
50927433_TLS       1.0
50927434_NOTTLS    1.0
50927435_NOTTLS    NaN
50927435_TLS       NaN
Name: J1005146, Length: 304, dtype: float64

In [289]:
rating_c = rating.loc[rating_toby[rating.themecode].isnull().values & (rating.traineeusername != "J1005146")]
rating_c_similarity = rating_c['traineeusername'].map(sim_toby)

rating_d = rating_c.assign(similarity=rating_c_similarity)
rating_d.sort_values("similarity", ascending=False, inplace=True)
rating_d.head(50)

,traineeusername,date,type,actioncode,themecode,similarity
1159500,J0479898,NaN,E-LEARNING,60000043,50927396_TLS,0.606815
1041527,J0479898,NaN,E-LEARNING,60000098,50927348_TLS,0.606815
1045418,J0479898,NaN,E-LEARNING,60000091,50927348_TLS,0.606815
708256,J0479898,NaN,E-LEARNING,30005577,50927375_TLS,0.606815
449140,J0479898,NaN,E-LEARNING,16083,50927390_TLS,0.606815
267013,J0479898,NaN,E-LEARNING,30002726,50927288_TLS,0.606815
1047951,J0479898,NaN,E-LEARNING,60000097,50927348_TLS,0.606815
264795,J0479898,NaN,E-LEARNING,15969,50927348_TLS,0.606815
1043233,J0479898,NaN,E-LEARNING,60000086,50927348_TLS,0.606815
1053218,J0479898,NaN,E-LEARNING,60000096,50927348_TLS,0.606815
1041324,J0479898,NaN,E-LEARNING,60000098,50927348_TLS,0.606815
1046486,J0479898,NaN,E-LEARNING,60000085,50927348_TLS,0.606815
463545,J0479898,NaN,E-LEARNING,50121342,50927348_TLS,0.606815
774761,J0479898,NaN,E-LEARNING,50738443,50927296_TLS,0.606815
264441,J0479898,NaN,E-LEARNING,15968,50927348_TLS,0.606815
1044328,J0479898,NaN,E-LEARNING,60000089,50927348_TLS,0.606815
548037,J0479898,NaN,E-LEARNING,12940,50927336_TLS,0.606815
623677,J0479898,NaN,E-LEARNING,15183,50927375_TLS,0.606815
1047237,J0479898,NaN,E-LEARNING,60000090,50927348_TLS,0.606815
1042200,J0479898,NaN,E-LEARNING,60000093,50927348_TLS,0.606815
162494,J0479898,NaN,E-LEARNING,15788,50927348_TLS,0.606815
1052288,J0479898,NaN,E-LEARNING,60000088,50927348_TLS,0.606815
1035088,J0479898,NaN,E-LEARNING,60000094,50927348_TLS,0.606815
1034464,J0479898,NaN,E-LEARNING,60000099,50927348_TLS,0.606815
1627379,J0305574,NaN,IN_CLASS,51105455,50927414_NOTTLS,0.592223
242279,J0305574,NaN,E-LEARNING,15544,50927336_TLS,0.592223
1636047,J0458844,NaN,E-LEARNING,61234754,50927336_TLS,0.571637
1150868,J0458844,NaN,E-LEARNING,60000080,50927416_TLS,0.571637
670931,J0458844,NaN,E-LEARNING,50510048,50927319_TLS,0.571637
550583,J0458844,NaN,E-LEARNING,50278556,50927321_TLS,0.571637
1256663,J0458844,NaN,IN_CLASS,9336,50927417_TLS,0.571637
168064,J0458844,NaN,E-LEARNING,15359,50927336_TLS,0.571637
233023,J0458844,NaN,E-LEARNING,15531,50927280_TLS,0.571637
1628904,J0458844,NaN,E-LEARNING,61234887,50927336_TLS,0.571637
1632572,J0458844,NaN,E-LEARNING,61234889,50927336_TLS,0.571637
175487,J0458844,NaN,E-LEARNING,15701,50927279_TLS,0.571637
1630613,J0458844,NaN,E-LEARNING,61234886,50927336_TLS,0.571637
1634667,J0458844,NaN,VIRTUAL_CLASSROOM,61234578,50927336_TLS,0.571637
697121,J0458844,NaN,E-LEARNING,30001319,50927280_TLS,0.571637
1259980,J0458844,NaN,IN_CLASS,9787,50927317_NOTTLS,0.571637
1637691,J0458844,NaN,VIRTUAL_CLASSROOM,61234752,50927336_TLS,0.571637
1629584,J0458844,NaN,E-LEARNING,61234888,50927336_TLS,0.571637
1523855,J0458844,NaN,E-LEARNING,61234291,50927377_TLS,0.571637
1631739,J0458844,NaN,E-LEARNING,61234885,50927336_TLS,0.571637
732868,J0458844,NaN,E-LEARNING,50535110,50927321_TLS,0.571637
1637143,J0458844,NaN,E-LEARNING,61234578001,50927336_TLS,0.571637
733328,J0515003,NaN,E-LEARNING,30005568,50927375_TLS,0.553568
1630480,J0515003,NaN,E-LEARNING,61234886,50927336_TLS,0.553568
546958,J0515003,NaN,E-LEARNING,12940,50927336_TLS,0.553568
248346,J0515003,NaN,E-LEARNING,15532,50927280_TLS,0.553568

In [290]:
rating_d.groupby("themecode").mean().sort_values("similarity", ascending=False).drop(columns="actioncode")

                 similarity
themecode
50927379_TLS       0.387983
50927414_NOTTLS    0.370495
50927322_TLS       0.352614
50927435_NOTTLS    0.349358
50927326_TLS       0.343358
...                     ...
50927346_NOTTLS    0.165657
50927382_NOTTLS    0.161020
50927337_NOTTLS    0.149292
50927368_NOTTLS    0.135066
50927388_NOTTLS    0.060825

[243 rows x 1 columns]

In [294]:
def fonctiondelamort(toby):
    similarity = rpz.corrwith(rpz[toby])
    rating_toby = rpz[toby].copy()
    rating_toby.replace(0, pd.np.nan, inplace=True)
    sim_toby = similarity
    rating = theme_inscriptions
    
    rating_c = rating.loc[rating_toby[rating.themecode].isnull().values & (rating.traineeusername != toby)]
    rating_c_similarity = rating_c['traineeusername'].map(sim_toby)

    rating_d = rating_c.assign(similarity=rating_c_similarity)
    rating_d.sort_values("similarity", ascending=False, inplace=True)
    return rating_d.groupby("themecode").mean().sort_values("similarity", ascending=False).drop(columns="actioncode")

In [295]:
r = fonctiondelamort("J0458844")
r

FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

                 similarity
themecode
50927414_NOTTLS    0.511332
50927434_NOTTLS    0.483267
50927379_TLS       0.473171
50927413_TLS       0.459285
50927329_TLS       0.458638
...                     ...
50927405_NOTTLS    0.232333
50927427_NOTTLS    0.227056
50927368_NOTTLS    0.216875
50927337_NOTTLS    0.169540
50927388_NOTTLS   -0.032131

[263 rows x 1 columns]